aiofiles
Pillow
humanize
hachoir
pyrofork==2.3.45
TgCrypto
dnspython
aiohttp
psutil
motor
telethon
pymongo[srv]==3.12.3

# fuzzy search ke liye
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.0

# ================== 💘🦋🧚 ==================
# ==> P O W E R E D - B Y - 👆 L A Z Y D E V E L O P E R
# ================== 🍿 ==================
